/*
Syntax error: Undefined variable: "$margin".
        on line 76 of /Applications/MAMP/htdocs/fusepilot_wordpress/wp-content/themes/fusepilot/compass/sass/nivo.sass

Backtrace:
/Applications/MAMP/htdocs/fusepilot_wordpress/wp-content/themes/fusepilot/compass/sass/nivo.sass:76
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/script/variable.rb:49:in `_perform'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/script/node.rb:40:in `perform'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/script/operation.rb:74:in `_perform'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/script/node.rb:40:in `perform'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:122:in `timed'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:135:in `block in compile'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/logger.rb:45:in `red'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:134:in `compile'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:97:in `each'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:97:in `block in run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:122:in `timed'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/compiler.rb:96:in `run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/commands/base.rb:18:in `execute'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/bin/compass:25:in `block in <top (required)>'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/bin/compass:39:in `call'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.6/bin/compass:39:in `<top (required)>'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/bin/compass:19:in `load'
/Users/michaeldelaney/.rvm/gems/ruby-1.9.3-p0/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$margin\".\A         on line 76 of /Applications/MAMP/htdocs/fusepilot_wordpress/wp-content/themes/fusepilot/compass/sass/nivo.sass"; }
