/* line 1, compass/sass/reset.sass */
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 10, compass/sass/reset.sass */
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* line 18, compass/sass/reset.sass */
body div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 27, compass/sass/reset.sass */
span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 36, compass/sass/reset.sass */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Responsive images and other embedded objects
 * Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers. 
 * There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
/* line 43, compass/sass/reset.sass */
img, object, embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
/* line 48, compass/sass/reset.sass */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
 *	don't forget to restore the bullets within content. */
/* line 54, compass/sass/reset.sass */
ul {
  list-style: none;
}

/* line 57, compass/sass/reset.sass */
blockquote, q {
  quotes: none;
}

/* line 61, compass/sass/reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 66, compass/sass/reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 70, compass/sass/reset.sass */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 77, compass/sass/reset.sass */
del {
  text-decoration: line-through;
}

/* line 80, compass/sass/reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 86, compass/sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 90, compass/sass/reset.sass */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 94, compass/sass/reset.sass */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 98, compass/sass/reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 106, compass/sass/reset.sass */
input, select {
  vertical-align: middle;
}

/* line 109, compass/sass/reset.sass */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 120, compass/sass/reset.sass */
input[type="radio"] {
  vertical-align: text-bottom;
}
/* line 122, compass/sass/reset.sass */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 126, compass/sass/reset.sass */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 129, compass/sass/reset.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 135, compass/sass/reset.sass */
a:hover, a:active {
  outline: none;
}

/* line 138, compass/sass/reset.sass */
small {
  font-size: 85%;
}

/* line 141, compass/sass/reset.sass */
strong, th {
  font-weight: bold;
}

/* line 144, compass/sass/reset.sass */
td {
  vertical-align: top;
}
/* line 146, compass/sass/reset.sass */
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
 *	gist.github.com/413930 */
/* line 152, compass/sass/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 157, compass/sass/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 163, compass/sass/reset.sass */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 168, compass/sass/reset.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 173, compass/sass/reset.sass */
.clickable, label {
  cursor: pointer;
}

/* line 177, compass/sass/reset.sass */
input[type=button], input[type=submit] {
  cursor: pointer;
}

/* line 180, compass/sass/reset.sass */
button {
  cursor: pointer;
  margin: 0;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 186, compass/sass/reset.sass */
input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 191, compass/sass/reset.sass */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 197, compass/sass/reset.sass */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
/* line 202, compass/sass/reset.sass */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
/* line 207, compass/sass/reset.sass */
.clearfix {
  zoom: 1;
}
/* line 208, compass/sass/reset.sass */
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 213, compass/sass/reset.sass */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
